@font-face {
    font-family: 'acremedium';
    src: url("Acre-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
  font-family:acremedium;
  letter-spacing: 1px;

}

.section{
    background-size: cover;
}

.section iframe {
    position:relative;
    width:80%;
    height:80%;
    z-index: -1;
}

.sixFsNav {
    height:33px;
    position: fixed; /*fixed to move with user, absolute to stay at top*/
    width:100%;
    top: 57px;
    padding-top: 15px; /* padding for items */
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.sixFsNav a{
    top:-35px;
    color: #5B5052;
    font-weight: 100;
    text-decoration: none;
}

/*.sixFsNav .active{
    top:-35px;
    font-weight: 100;
    text-decoration: underline;
    color: black;
}*/
#subNavIconMain{
    position: absolute;
    top: 1px;
    height:47px;
    width:47px;
    z-index: 1;
}
#subNavIcon{
    position: absolute;
    top: 6px;
    height:30px;
    width:30px;
    z-index: 1;
}

/*.navbar a {
    color: black;
    font-weight: 100;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    left: 5%;
    /*display: inline;  TAKE OUT IF NECESSARY  inline or inline-block*/


#funPage{
    background-image: url("sixFs/fun.jpg");
}

#funPic{
    position: absolute;
    right: 18%;
    bottom: 12%;
    width: 35vh;
    height: 35vh;
}

#funText{
    font-size: 4vh;
    position: absolute;
    right: 14%;
    bottom: 44%;
    color: #5B5052;
}

#fiberPage{
    background-image: url("sixFs/fiber.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

#fiberPic{
    position: absolute;
    width: 35vh;
    height: 35vh;
    left: 5%;
    top: 20%;
}

#fiberText{
    font-size: 4vh;
    position: absolute;
    left: 24%;
    top: 40%;
    text-align: left;
    color: #5B5052;
    line-height: 1.3;
}

#foodPage{
    background-image: url("sixFs/food.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

#foodPic{
    position: absolute;
    left: 15%;
    top: 25%;
    width: 35vh;
    height: 35vh;
}

#foodText{
    font-size: 4vh;
    position: absolute;
    left: 65%;
    bottom: 58%;
    text-align: center;
    color: #ffffff;
    line-height: 1.3;
}

#foundationPage{
    background-image: url("sixFs/foundation.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

#foundationPic{
    position: absolute;
    left: 56%;
    top: 27%;
    width: 35vh;
    height: 35vh;
}

#foundationText{
    font-size: 4vh;
    position: absolute;
    left: 19%;
    bottom: 37%;
    text-align: left;
    color: white;
}

#farmaceuticalsPage{
    background-image: url("sixFs/farmaceuticals.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

#farmaceuticalsPic{
    position: absolute;
    left: 9%;
    top: 23%;
    width: 35vh;
    height: 35vh;
}

#farmaceuticalsText{
    font-size: 4vh;
    position: absolute;
    left: 6%;
    top: 65%;
    text-align: left;
    color: #5B5052;
}

#filterPage{
    background-image: url("sixFs/filter.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

#filterPic{
    position: absolute;
    left: 43%;
    top: 31%;
    width: 35vh;
    height: 35vh;
}

#filterText{
    font-size: 4vh;
    position: relative;
    left: 2%;
    top: 31%;
    text-align: center;
    color: #5B5052;
}

#desc {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    overflow-x: visible;
    overflow-y: visible;
    background-color:lightgrey;
}

#name {
    font-size: 3em;
    position:relative;
    top: 100px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}

.modalTable {
    position: relative;
    bottom: 25px;
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
}

.modalTableCell-Food {
    border: 3px solid rgb(238,106,124,0.5);
    border-radius: 3px;
    display: table-cell;
    width: 500px;
}
.modalTableCell-Farmaceuticals {
    border: 3px solid rgb(250,106,51,0.5);
    border-radius: 3px;
    display: table-cell;
    width: 500px;
}
.modalTableCell-Foundation {
    border: 3px solid rgb(84,77,80,0.5);
    border-radius: 3px;
    display: table-cell;
    width: 500px;
}
.modalTableCell-FiberFuel {
    border: 3px solid rgb(250,199,24,0.5);
    border-radius: 3px;
    display: table-cell;
    width: 500px;
}
.modalTableCell-Fun {
    border: 3px solid rgb(54,174,153,0.5);
    border-radius: 3px;
    display: table-cell;
    width: 500px;
}
.modalTableCell-Filter {
    border: 3px solid rgb(25,91,167,0.5);
    border-radius: 3px;
    display: table-cell;
    width: 500px;
}


/* The Close Button */
.close {
    position: relative;
    bottom: 29px;
    color: #aaaaaa;
    float: right;
    font-size: 4em;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#sixFsVideo{
    top: 8%;
}

#foodWOS{
    background-size: 600px;
    background-position: center center;
    background-repeat: no-repeat;
}

#fiberWOS{
    background-size: 600px;
    background-position: center center;
    background-repeat: no-repeat;
}

#filterWOS{
    background-size: 600px;
    background-position: center center;
    background-repeat: no-repeat;
}

#farmWOS{
    background-size: 600px;
    background-position: center center;
    background-repeat: no-repeat;
}

#foundWOS{
    background-size: 600px;
    background-position: center center;
    background-repeat: no-repeat;
}

#funWOS{
    background-size: 600px;
    background-position: center center;
    background-repeat: no-repeat;
}

.arrow{
    float: right;
    height: 80px;
    width: 80px;
    top: 0%;
    z-index: 1;
}
